
<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href= "C:\Users\91904\OneDrive\Documents\lib management\static\sign_up.css">
</head>
<body><div><center>
	<img src="https://upload.wikimedia.org/wikipedia/en/1/17/Coimbatore_Institute_of_Technology_logo.png" height="100" width="100" >
	<br>
	<h1>CIT LIBRARY</h1>
	<h3>List books</h3>
	<hr>
	<form method="POST" action="">
		<table border = 3 align="center">
		<tr>
		<th>Sno<th>Bookno<th>Bookname<th>Authorname</th></tr>
		  
		  <tr>
			<td align="center"> {{add.0}} </td>
			<td align="center"> {{add.1}} </td>
			<td align="center"> {{add.2}} </td>
			<td align="center"> {{add.3}} </td>
			
		  </tr>
		  
		</table>
	</form>
</div></center></body>
</html>
