<html>
<head>
	<link type="text/css" rel="stylesheet" href= "C:\Users\91904\OneDrive\Documents\lib management\static\sign_up.css">
</head>
<body><div><center>
	<img src="https://upload.wikimedia.org/wikipedia/en/1/17/Coimbatore_Institute_of_Technology_logo.png" height="100" width="100" >
	<br>
	<h1>CIT LIBRARY</h1>
	<h3>Login</h3>
	<hr>
	<form method="POST" action="">
		User Name:<input type="text" name="username" />
		<br><br>
	    Password:<input type="text" name="password" />
	    <br><br>
		<input type="submit"><br><br>
	</form>
	</center></div>
</body>
</html>
