<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href= "C:\Users\91904\OneDrive\Documents\lib management\static\sign_up.css">
</head>
<body><div><center>
	<img src="https://upload.wikimedia.org/wikipedia/en/1/17/Coimbatore_Institute_of_Technology_logo.png" height="100" width="100" >
	<br>
	<h1>CIT LIBRARY</h1>
	<h3>MENU</h3>
	<hr>
	<form method="POST" action="">
		SELECT THE OPERATION TO BE PERFORMED:
		<select name="option">
			<option>    </option>
			<option>List books</option>
			<option>Rent book</option>
			<option>Return book</option>
		<br><br></select><br><br>
		<input type="submit" value="select">
	</form>
	</center></div>
</body>
</html>