<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href= "C:\Users\91904\OneDrive\Documents\lib management\static\sign_up.css">
</head>
<body><div><center>
	<img src="https://upload.wikimedia.org/wikipedia/en/1/17/Coimbatore_Institute_of_Technology_logo.png" height="100" width="100" >
	<br>
	<h1>CIT LIBRARY</h1>
	<h3>Sign up</h3>
	<hr>
	<form method="POST" action="">
	<br>
		<label for="username"><b>User Name: </b></label>
		<input type="text" placeholder="Enter User Name" name="username" id="username" required>
		<br><br>
		<label for="password"><b>Password: </b></label>
		<input type="text" placeholder="Enter Password" name="password" id="password" required>
		<br><br>
		<button type="submit">Submit</submit><br></br>
	</div>
	</form>
</body>
</html>